$main-blue: #3AB0EB;
$main-blue-hover: #C7E9FF;
$main-green: #198754;
$main-green-hover: #1a9d49;
$light-blue: #F3F9FC;
$light-blue-hover: #E0EAF1;
$dark-blue: #00263D;
$dark-cyan-blue: #003863;



$main-orange: #EB6854;
$main-orange-hover: #CE4D3A;


$grey-main: #415562;
$grey: #A7BFCF;


$main-black: #24353F;
